<section class="post-comments">
  <div class="ds-thread" data-thread-key="{{id}}" data-title="{{{title}}}" data-url="{{url absolute="true"}}"></div>
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"mcc108"};
        (function() {
            var duosuo = document.createElement("script");
            duosuo.src = "//congm.in/static/duosuo_embed.min.js";
            duosuo.charset = "utf-8";
            document.body.appendChild(duosuo);
        })();
  </script>
</section>