<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright"><a href="https://github.com/mcc108/mno">Mno</a> theme by @ <a href="https://congm.in">Cong Min</a></span>
</footer>