<hr class="post-list__divider " />

<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts pagination__newer btn btn-small btn-tertiary" href="{{page_url prev}}#blog"><i class="fa fa-chevron-left"></i> 上一页</a>
    {{/if}}
    <span class="pagination__page-number">{{page}} / {{pages}}</span>
    {{#if next}}
        <a class="older-posts pagination__older btn btn-small btn-tertiary" href="{{page_url next}}#blog">上一页 <i class="fa fa-chevron-right"></i></a>
    {{/if}}
</nav>