<header class="panel-cover {{#if post}}panel-cover--collapsed{{else if tag}}panel-cover--collapsed{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="javascript:;" title="首屏" class="index-button"><img src="https://congm.in/index/img/congminWhite.png" alt="{{@blog.title}}" class="panel-cover__logo iUp" /></a>
        <div class="navigation-wrapper iUp">
          <div>
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="javascript:;" title="我的主页" class="index-button">主页</a></li>
              <li class="navigation__item"><a href="https://i.congm.in" target="_self" title="我的博客">博客</a></li>
              <li class="navigation__item"><a href="http://resume.congm.in" target="_blank" title="我的简历">简历</a></li>
              <li class="navigation__item"><a href="https://i.congm.in/about" target="_self" title="关于我">关于</a></li>
            </ul>
          </nav>
          </div>
          <div class="iUp">
          {{> social}}
          </div>
        </div>

      </div>

    </div>

    <div class="panel-cover--overlay cover-slate"></div>
  </div>

  {{#if post}}<a href="/" class="go-back"><i class="fa fa-home"></i></a>{{else if tag}}<a href="/" class="go-back"><i class="fa fa-home"></i></a>{{/if}}
</header>