<header class="panel-cover {{#if post}}panel-cover--collapsed{{else if tag}}panel-cover--collapsed{{/if}}" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="#" title="首屏"><img src="/assets/images/congminWhite.png" alt="{{@blog.title}}" class="panel-cover__logo" /></a>
        <div class="navigation-wrapper">
          <div>
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="/#blog" title="访问博客" class="blog-button">博客</a></li>
              <li class="navigation__item"><a href="https://congm.in" target="_blank" title="我的主页">主页</a></li>
              <li class="navigation__item"><a href="http://congm.in/resume.pdf" target="_blank" title="我的简历">简历</a></li>
              <li class="navigation__item"><a href="http://i.congm.in/about" title="了解更多关于我">关于</a></li>
            </ul>
          </nav>
          </div>
          <div>
          {{> social}}
          </div>
        </div>

      </div>

    </div>

    <div class="panel-cover--overlay cover-slate"></div>
  </div>

  {{#if post}}<a href="javascript: history.back(-1);" class="go-back"><i class="fa fa-reply"></i></a>{{else if tag}}<a href="javascript: history.back(-1);" class="go-back"><i class="fa fa-reply"></i></a>{{/if}}
</header>