<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/mcc108" title="Github" target="_blank">
      <i class='social iconfont'>&#xe60b;</i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Weibo -->
  <li class="navigation__item">
      <a href="http://weibo.com/mcc108" title="微博" target="_blank">
          <i class='social iconfont'>&#xe605;</i>
          <span class="label">Weibo</span>
      </a>
  </li>

  <!-- QQ -->
  <li class="navigation__item">
    <a href="http://sighttp.qq.com/authd?IDKEY=5ce0e7d4442c7d188d5cb4861f1ec61342531c7c48d20162" title="QQ" target="_blank">
      <i class='social iconfont'>&#xe601;</i>
      <span class="label">QQ</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=CGVhZmtnZm9Ia2dmb2UmYWY" title="邮箱">
      <i class='social iconfont'>&#xe608;</i>
      <span class="label">Email</span>
    </a>
  </li>

  <!-- Zhihu -->
  <li class="navigation__item">
      <a href="http://zhihu.com/people/mincong" title="知乎" target="_blank">
          <i class='social iconfont'>&#xe604;</i>
          <span class="label">Zhihu</span>
      </a>
  </li>

  </ul>
</nav>