<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/mcc108" title="Github" target="_blank">
      <i class='social iconfont'>&#xe60b;</i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Wechat -->
  <li class="navigation__item">
      <a href="//congm.in/static/wechat.jpg" title="微信" target="_blank">
          <i class='social iconfont'>&#xe603;</i>
          <span class="label">Wechat</span>
      </a>
  </li>

  <!-- QQ -->
  <li class="navigation__item">
    <a href="http://wpa.qq.com/msgrd?v=3&uin=4150050&site=qq&menu=yes" title="QQ" target="_blank">
      <i class='social iconfont'>&#xe601;</i>
      <span class="label">QQ</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=CGVhZmtnZm9Ia2dmb2UmYWY" title="邮箱">
      <i class='social iconfont'>&#xe608;</i>
      <span class="label">Email</span>
    </a>
  </li>

  <!-- Zhihu -->
  <li class="navigation__item">
      <a href="http://zhihu.com/people/mincong" title="知乎" target="_blank">
          <i class='social iconfont'>&#xe604;</i>
          <span class="label">Zhihu</span>
      </a>
  </li>

  </ul>
</nav>
